---
import Layout from "../layout/layout.astro";
// import { Navbar } from "@/components";
import {
  Hero,
  AboutUs,
  Menu,
  //   Chef,
  //   Laurels,
  //   FindUs,
  //   Newsletter,
  //   Footer,
} from "@/sections";
---

<Layout>
  <h1>Hi</h1>
  <!-- <Navbar client:only="react" /> -->
  <Hero />
  <AboutUs />
  <Menu />
  <!-- <Chef /> -->
  <!-- <Intro client:only="react" /> -->
  <!-- <Laurels /> -->
  <!-- <Gallery client:only="react" /> -->
  <!-- <FindUs /> -->
  <!-- <Newsletter /> -->
  <!-- <Footer /> -->
</Layout>
