---
import { Image } from "astro:assets";

const { title, subtitle, imgUrl } = Astro.props;
---

<div
  class="flex flex-1 items-center justify-center gap-4 min-w-full md:min-w-[230px]"
>
  <Image src={imgUrl} alt="award" class="w-[60px] object-cover" />
  <div class="flex flex-col gap-2">
    <p
      class="text-xl tracking-wider uppercase md:text-2xl font-cormorant text-golden"
    >
      {title}
    </p>
    <p>{subtitle}</p>
  </div>
</div>
