---
import { SubHeader } from "@/components";
import { images } from "@/constants";
import { Image } from "astro:assets";
---

<section
  id="chef"
  class="mt-10 relative pt-10 lg:py-0 md:pb-10 flex items-center justify-center lg:h-screen"
>
  <Image
    src={images.bg}
    width={3000}
    alt=""
    class="absolute inset-0 w-full h-[110%] md:h-full object-cover -z-[5]"
  />
  <div
    class="container flex-col w-full md:flex-row flex items-center justify-center gap-x-20"
  >
    <article class="w-3/4 md:w-[400px]">
      <Image src={images.chef} alt="" class="w-full" />
    </article>
    <article class="flex w-full flex-col gap-y-6 md:w-[40%]">
      <SubHeader title={"Chef's Word"} />
      <h1 class="h3">What we believe in</h1>
      <div>
        <div class="flex items-end justify-start gap-4">
          <Image src={images.quote} alt="" class="w-[60px]" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit auctor sit .
          </p>
        </div>
        <p>
          auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit.
          Nulla scelerisque scelerisque congue ac consequat, aliquam molestie
          lectus eu. Congue iaculis integer curabitur semper sit nunc.
        </p>
      </div>
      <div>
        <h2 class="text-xl font-bold tracking-wide text-golden font-cormorant">
          Kevin Luo
        </h2>
        <p class="text-gray">Chef & Founder</p>
      </div>
      <Image src={images.sign} alt="" class="w-[160px]" />
    </article>
  </div>
</section>
