---
import { SubHeader } from "@/components";

import { FaInstagram, FaTwitter, FaFacebook } from "react-icons/fa";
import { images } from "@/constants";
import { Image } from "astro:assets";
---

<section
  id="contact"
  class="w-full pt-8 md:mt-0 flex items-center justify-center"
>
  <Image
    src={images.bg}
    width={3000}
    alt=""
    class="w-full h-[100%] md:h-full lg:h-[500px] absolute object-cover -z-10"
  />
  <div
    class="container flex-col lg:flex-row flex justify-center items-center lg:justify-between lg:items-start"
  >
    <div class="text-center">
      <h3 class="text-3xl mb-2">Contact Us</h3>
      <p class="p">9 W 53rd St, New York, NY 10019, USA</p>
      <p class="p">+1 212-344-1230</p>
      <p class="p">+1 212-555-1230</p>
    </div>
    <div
      class="order-3 lg:order-1 lg:w-[430px] flex items-center justify-start flex-col"
    >
      <h2 class="h3">Gericht</h2>
      <SubHeader
        title={`The best way to find yourself is to lose yourself in the service of others.”`}
        classList={`text-center flex items-center justify-center flex-col`}
      />
      <div class="flex gap-6">
        <FaFacebook />
        <FaTwitter />
        <FaFacebook />
      </div>
      <p class="w-full text-center mt-10 container">
        2021 Gerícht. All Rights reserved.
      </p>
    </div>
    <div class="flex order-2 lg:order-1 flex-col text-center">
      <h3 class="mb-6">Working Hours</h3>
      <p class="opacity-75 mb-3">Monday-Friday:</p>
      <p class="opacity-75 mb-10">08:00 am - 12:00 am</p>
      <p class="opacity-75 mb-3">Saturday-Sunday:</p>
      <p class="opacity-75 mb-3">07:00 am - 11:00 pm</p>
    </div>
  </div>
</section>
