---
import { SubHeader } from "@/components";
import LaurelItem from "@/components/LaurelItem.astro";

import { images, data } from "@/constants";
import { Image } from "astro:assets";
---

<section
  id="awards"
  class="py-10 lg:py-0 lg:h-screen w-full flex items-center justify-center"
>
  <Image
    src={images.bg}
    width={3000}
    alt=""
    class="w-full h-[160%] md:h-[100%] absolute object-cover -z-10"
  />

  <div class="container flex-col lg:flex-row flex items-center justify-center">
    <div class="">
      <div class="mb-8">
        <SubHeader title={"Awards & Recognition"} />
        <h2
          class="mt-4 text-3xl tracking-wider uppercase md:text-5xl lg:text-8xl font-cormorant text-golden"
        >
          Our Laurels
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {data.awards.map((award) => <LaurelItem {...award} />)}
      </div>
    </div>
    <Image
      width={300}
      src={images.laurels}
      alt=""
      class="w-[300px] lg:w-[500px] mt-8"
    />
  </div>
</section>
