---
import { Button, SubHeader } from "@/components";
---

<section class="w-full">
  <div
    class="container border shadow-xl border-golden/50 w-full bg-black flex flex-col items-center justify-center"
  >
    <SubHeader title={"Newsletter"} />
    <h2 class="h3 mb-10">Subscribe To Our Newsletter</h2>
    <p class="mb-8">And never miss latest Updates!</p>
    <div
      class="flex items-center justify-center w-full flex-col lg:flex-row px-20 mb-8 gap-10"
    >
      <input
        type="text"
        class="flex-1 min-w-[340px] w-full py-3 px-2 border border-golden bg-transparent"
        placeholder="Email Address"
      />
      <Button class={"bg-golden"}>Subscribe</Button>
    </div>
  </div>
</section>
